body {
  width: 100%;
  height: 100%;
  margin: 0;
}
section#details{        
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: red;
}
section#details div{
  text-align: center;
}
header{
  text-align: center;
}
section#featured-property{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
header nav a{
  background-color: gray;
  padding: 0 10px 0 10px;
}
section#featured-property p{
max-width: 800px;
text-align: center;
}
figcaption{
  text-align: center;
}
